@import url('https://fonts.googleapis.com/css?family=Quicksand');

body,html{
    padding:0px;
    margin: 0px;

    background-color: #fff;
}

.header{
    margin-top:0px;
    background-color: #2a0d22;

}

.title{
    margin-top:-3%;
    padding-top:-3%;
    padding-bottom:10px;
    font-family: 'Quicksand', sans-serif;
    color: #ef81e4;
}

.title:hover{
    margin-top:-3%;
    padding-top:-3%;
    padding-bottom:10px;
    font-family: 'Quicksand', sans-serif;
    color: #bc60b1;
}

.round{
    padding-top:3%;
    padding-bottom:3%;
    width:150px;
    height:150px;
    border-radius: 50%;
}

.round:hover{

    padding-top:3%;
    padding-bottom:3%;
    width:150px;
    height:150px;
    border-radius: 50%;
    filter: saturate(50%);
}

.tt{
    font-family: 'Quicksand', sans-serif;
    color: #552e4f;
}

.hire{
    margin-top:-2%;
    font-family: 'Quicksand', sans-serif;
    color: #f12fcc;
    font-size:30px;
}

.hire:hover{
    margin-top:-2%;
    font-family: 'Quicksand', sans-serif;
    color: #9c2280;
    font-size:30px;
}